.ProgressDays {
  padding: 25px 30px;
  border-radius: 25px;
  box-sizing: 0px 8px 12px rgba(0,0,0,0.2);
  margin-top: 25px;
  padding-top: 10px;
}
.ProgressDays .selects {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.ProgressDays .chart {
  margin-left: -20px;
  margin-top: 25px;
}
h1 {
  color: #3d3b3b;
  font-weight: 700;
}
@media (max-width: 498px) {
  .ProgressDays .selects {
    flex-direction: column;
    align-items: flex-start;
  }
}
